html,
body,
#root {
  min-height: 100vh;
  overflow: auto;
}

/* Scrollbar */
.left-section::-webkit-scrollbar,
.right-section::-webkit-scrollbar {
  width: 0.75rem;
}

.left-section::-webkit-scrollbar-track,
.right-section::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.left-section::-webkit-scrollbar-thumb,
.right-section::-webkit-scrollbar-thumb {
  background-color: rgba(125, 125, 125, 0.5);
  outline: 1px solid rgba(125, 125, 125, 0.5);
}
