html,
body,
#root {
  min-height: 100%;
  height: 100%;
}

/* Scrollbar */
.styled-scrollbar::-webkit-scrollbar {
  width: 0.75rem;
}

.styled-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(125, 125, 125, 0.5);
  outline: 1px solid rgba(125, 125, 125, 0.5);
}
